form{
    display: flex;
    justify-content: center;
}

input{
    width: fit-content;
    padding: 5px;
    margin: 10px 0;
    height: fit-content;
}

button{
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin: 10px;
    color: #333;
}

svg{
    margin: 0 5px 0 0;
}