.types-container .type-item.normal{
    background-color: #dce1e6;
  }
  .types-container .type-item.fighting{
    background-color: #f0c3d0;
  }
  .types-container .type-item.flying{
    background-color: #dce4f4;
  }
  .types-container .type-item.poison{
    background-color: #e6caf2;
  }
  .types-container .type-item.ground{
    background-color: #f2c8b4;
  }
  .types-container .type-item.rock{
    background-color: #f7eed4;
  }
  .types-container .type-item.bug{
    background-color: #eaf4d3;
  }
  .types-container .type-item.ghost{
    background-color: #d0d9f4;
  }
  .types-container .type-item.steel{
    background-color: #d4edf7;
  }
  .types-container .type-item.fire{
    background-color: #f4d5bf;
  }
  .types-container .type-item.water{
    background-color: #cbe1f9;
  }
  .types-container .type-item.grass{
    background-color: #cdf9c8;
  }
  .types-container .type-item.electric{
    background-color: #f4eab8;
  }
  .types-container .type-item.psychic{
    background-color: #f2c2c4;
  }
  .types-container .type-item.ice{
    background-color: #d6f9f3;
  }
  .types-container .type-item.dragon{
    background-color: #c6dff4;
  }
  .types-container .type-item.dark{
    background-color: #d3cae3;
  }
  .types-container .type-item.fairy{
    background-color: #f9dbf6;
  }
  .types-container .type-item.stellar, .shadow{
    visibility: hidden;
  }
  .types-container .type-item.unknown, .shadow{
    visibility: hidden;
  }